%h1 Greetings

%ul
  %li= link_to 'Morning', about_greet_me_url(greet_me: 'morning')
  %li= link_to 'Afternoon', about_greet_me_url(greet_me: 'afternoon')
  %li= link_to 'Evening', about_greet_me_url(greet_me: 'evening')

- content_for :title, 'About | Greetings'
