%h1 Greetings

%ul
  %li= link_to 'Morning', '/about-this-app/greetings/morning'
  %li= link_to 'Afternoon', '/about-this-app/greetings/afternoon'
  %li= link_to 'Evening', '/about-this-app/greetings/evening'
