.js-edit-contact
  = render 'back_to_contacts', contact: contact

  = render 'shared/flash_messages'

  = render 'form', contact: contact, form_url: admin_contact_url(contact), method: :patch, data: { remote: true }
