%h1 New Contact (for admin use only)

= render 'back_to_contacts'

= render 'shared/flash_messages'

= render 'form', contact: contact, form_url: admin_contacts_url, method: :post

- content_for :title, 'New Contact'
